/* PAGE */
.feedback-review-page {
    background: #FAFAFA;
    min-height: 100vh;
}

/* HEADER */
.feedback-review-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    height: 80px;
    border-bottom: 3px solid #CB9900;
    padding: 0 20px;
    box-sizing: border-box;
}

.feedback-review-eventname {
    color: #000000;
    font-size: 20px;
    font-weight: 450;
    font-family: 'Effra', sans-serif;
    line-height: 1;
}

/* BODY */
.feedback-review-body {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.feedback-review-container {
    width: 1510px;
    height: 317px;
    border: 1px solid #999999;
    background-color: #FAFAFA;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
}

/* PERSON INFORMATION */
.review-person-information {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.feedback-satisfaction-icon {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.review-profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

.feedback-header-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.feedback-name {
    font-size: 20px;
    font-family: 'Effra', sans-serif;
    font-weight: 450;
}

.feedback-role {
    font-size: 20px;
    font-family: 'Effra', sans-serif;
    font-weight: 450;
    color: #999999;
}

.feedback-name,
.feedback-role {
    margin: 0;
}

/* FEEDBACK INFO */
.liked-disliked-group {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.feedback-liked, .feedback-disliked {
    font-size: 20px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 450;
}

.review-description {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 16px;
    color: #333;
    font-size: 20px;
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 450;
}