@font-face {
    font-family: 'Effra';
    src: local('Effra'), url(./fonts/Effra.ttf) format('ttf');
}

@font-face {
    font-family: 'ProximaNova';
    src: local('ProximaNova'), url(./fonts/ProximaNova.ttf) format('ttf');
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background: #FAFAFA
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
