/* RegisterEvent.css */
/* PAGE */
.event-registration-page {
    background: #FAFAFA;
    min-height: 100vh;
}

/* HEADER */
.event-registration-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    height: 80px;
    border-bottom: 3px solid #CB9900;
    padding: 0 20px;
    box-sizing: border-box;
}

.event-registration-eventname {
    color: #000000;
    font-size: 20px;
    font-weight: 450;
    font-family: 'Effra', sans-serif;
    line-height: 1;
}

/* BODY */
.event-registration-body {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 120px;
    align-items: stretch;
    flex-wrap: wrap;
}

/* LEFT COLUMN */
.event-registration-left {
    max-width: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.event-registration-banner {
    width: 100%;
    height: auto;
}

.event-registration-host {
    color: #999999;
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 12px;
}

.event-registration-info {
    font-size: 20px;
    font-weight: 450;
    color: #000000;
    white-space: pre-line;
    font-weight: 450;
    font-family: 'Effra', sans-serif;
}

.event-registration-dropdown-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.event-registration-dropdown-text {
    font-size: 20px;
    font-weight: 450;
    font-family: 'Effra', sans-serif;
    color: #999999;
}

.event-registration-custom-dropdown {
    height: 45px;
    width: 100%;
    background: #FAFAFA;
    border: 1px solid #999999;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-image: url("../../assets/Arrow.png");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
}

    .event-registration-custom-dropdown::after {
        display: none !important;
    }

.dropdown-menu {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #ffffff;
    margin-top: 5px;
}

.dropdown-item {
    font-size: 16px;
    padding: 8px;
    color: #333;
    transition: background 0.3s ease-in-out;
}

    .dropdown-item:hover {
        background: #f5f5f5;
        color: #000;
    }

    .dropdown-item:active {
        background: #CB9900;
        color: #fff;
    }

.show > .event-registration-custom-dropdown {
    border-color: #CB9900;
    box-shadow: 0 0 5px rgba(203, 153, 0, 0.5);
}

/* RIGHT COLUMN */
.event-registration-right {
    max-width: 500px;
    flex: 1;
    position: relative;
}

.event-registration-form-box {
    height: 100%;
    border: 1px solid #999999;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-sizing: border-box;
}

.event-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.event-form-label {
    font-size: 20px;
    font-weight: 450;
    color: #000000;
    font-family: 'Effra', sans-serif;
}

.event-form-input {
    height: 45px;
    width: 100%;
    background: #E8F0FE;
    border: 1px solid #999999;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 16px;
    outline: none;
    color: #000000;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Proxima Nova', sans-serif;
}

.event-form-input:focus {
    background-color: #FAFAFA;
}

    .event-form-input:focus::placeholder {
        color: transparent;
    }

    .event-form-input:invalid:not(:placeholder-shown):not(:focus) {
        border-color: red;
    }

.event-registration-button-wrapper {
    position: absolute;
    bottom: -80px;
    right: 0;
}

.event-registration-button {
    height: 45px;
    width: 195px;
    background-color: #2074AC;
    font-size: 20px;
    font-weight: 450;
    color: white;
    font-family: 'Effra', sans-serif;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    float: right;
}

    .event-registration-button:disabled {
        background: #999999;
        cursor: not-allowed;
        pointer-events: none;
        border: none;
    }